{% macro display(category_list) %}
<div class="row">
	{% if category_list %}
		{% for category in category_list %}
		<div class="col" style="display: flex; flex-direction:row; flex-wrap: wrap; justify-content: center; align-items: center; ">
			<div class="text-center thumbnail" style="height:auto
			; width: 30rem; padding: 10px;">
			<h4 class="card-title">{{category.title}}</h4>
			<div class="card-body">
				<h5 style="color:#F5245F;"><em>{{category.category}}</em></h5>
				<blockquote class="blockquote mb-0">
					<p style="font-size: 12px; ">{{category.description}}</p>
					<footer class="blockquote-footer"> Posted by:{{category.user.username}}</footer>
				</blockquote>	
				<button class="btn btn-outline-dark" style="border: 1px solid #191414; background: none;"><a href="{{url_for('main.new_comment',pitch_id = category.id)}}" style="text-decoration: none; color:#F5245F ;"> Add a comment</a></button>
				<span ><a href="{{url_for('main.dislike',id=category.id)}}"  style="color: green; font-size: 18px;"><i class="bi bi-hand-thumbs-up"></i>{{category.upvote.count()}}</a>
				</span>
        <span>
					<a href="{{url_for('main.dislike',id=category.id)}}" style="color: red; font-size: 18px;"><i class="bi bi-hand-thumbs-down"></i>{{category.downvote.count()}}</a>
				</span>	
			</div>
		</div>
		</div>
		{% endfor %}
	{% else %}
	{% endif %}
</div>
{% endmacro %}


{% macro displayComment(comments) %} 
<div class="container">
		<div class="row" >
			{% if comments %}
			{% for comment in comments %}
					<div class="col mb-5" style=" display: flex; flex-direction:row; flex-wrap: wrap; justify-content: center; align-content: center;">
						<div class="card shadow bg-white rounded" style="padding: 10px;">
						<p class="text-center" style="font-size: 20px;">{{ comment.description }}</p>
						<p class="text-center">Posted by: <em style="color:#F5245F;">{{comment.user.username}}</em> </p>
					</div>
						</div>
						
			{% endfor %}
			{% else %}
			<h3>This post does  not does not have any comments yet !</h3>
			{%endif%}
		</div>
</div>
{% endmacro %}